@font-face {
    font-family: "Roboto";
    src: url("Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Ubuntu";
    src: url("Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: "Lobster";
    src: url("Lobster/Lobster-Regular.ttf")
}

.ff-roboto {
    font-family: Roboto
}
.ff-source-sans-pro {
    font-family: 'Source Sans Pro'
}
.ff-raleway {
    font-family: Raleway;
}
.ff-ubuntu {
    font-family: Ubuntu;
}
.ff-lobster {
    font-family: Lobster;
}